.container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  color: var(--color-bg);
  background-color: var(--color-primary);
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
}
