@import url("https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-bg: #ffe3ca;
  --color-primary: #773800;
  --color-secondary: #685644;
  --color-accent: #000000;
  --color-accent-2: #502500;
  --color-faded: #685644ab;

  --divide-dis: 100px 0;

  color: var(--color-primary);
  fill: var(--color-primary);
  stroke: var(--color-primary);
  stroke-width: 0%;

  font-family: "Lovers Quarrel";
  background-color: var(--color-bg);
  scroll-behavior: smooth;
}

.invisible {
  fill: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}
